<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="app">
<section ng-class="tab = 1" ng-controller="PanelController as panel">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="lib/angular/angular.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
	<script type="text/javascript" src="js/app.js"></script>
    <script src="js/response.min.js"></script>
    
	<div class="row">
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
					<span class="sr-only"> Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="collapse">
				<ul class="nav navbar-nav nav-tabs nav-justified">
					<li ><a ng-click="tab = 1" href = "index.html?page=home" >Home</a></li>
					<li ><a ng-click="tab = 2" href="index.html?page=about" >About</a></li>
					<li ><a ng-click="tab = 3" href="index.html?page=projects" >Projects</a></li>
					<li class="dropdown"><a href="#" data-toggle="dropdown">Downloads<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li ><a href="index.html?page=downloads">All downloads</a></li>
							<li class="divider"></li>
							<li><a ng-click="tab = 4" href="Downloads/citizenshipZip.php">Citizenship</a></li>
							<li><a ng-click="tab = 5" href="Downloads/findDifference.php">Find Difference</a></li>
							<li><a ng-click="tab = 6" href="Downloads/equations.php">Equations</a></li>
						</ul>

					</li>
					<li class="dropdown"><a href="#" data-toggle="dropdown">Tools<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ng-click="tab = 7" href="index.html?page=calculator">Calculator</a></li>
							<li><a ng-click="tab = 8" href="index.html?page=quadratic">Quadratic Equation</a></li>
						</ul>
					</li>
					<li ><a ng-click="tab = 9" href="index.html?page=teaching" >Teaching</a></li>
					<li ><a ng-click="tab = 10" href="index.html?page=contact" >Contact</a></li>
					
				</ul>
			</div>
		</nav>
	</div>
	
	
</head>
<body>
<?php include_once("Downloads/googleAnalytics.php") ?>
    <div class="container">
		<header class="row">
			<h1>Abel Alvarez</h1>
		</header>
		{{tab}}	

		<div class="panel">
		<h4>testing 1</h4>
		</div>
		<div class="panel">
		<h4>testing 2</h4>
		</div>
		
		<br></br>
		<!-- <div align='center'><a href='http://www.hit-counter-html-code.com'><img src='http://www.hit-counter-html-code.com/c.php?d=4&id=129031&s=18' border='0' title='free website hit counter'></a><br / ><small><a href='#' title="hit counter html code">Views</a></small></div>
-->

		<footer class="row">    
			Copyright 2015 <a href="http://www.abelalvarez.info/"><strong>Abel Alvarez</strong></a> | <a href="http://www.abelalvarez.info/" target="_parent">Production</a> by <a href="https://www.linkedin.com/pub/abel-alvarez/87/975/998" target="_parent">Abel Alvarez</a>
		</footer> <!-- end of footer -->
	</div><!-- END CONTAINER -->
<!-- JAVASCRIPT -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</section>
</html>