<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="app">
<section ng-controller="PanelController as panel">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="lib/angular/angular.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
	<script type="text/javascript" src="js/app.js"></script>
    <script src="js/response.min.js"></script>
    
	<div class="row">
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
					<span class="sr-only"> Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="collapse">
				<ul class="nav navbar-nav nav-tabs nav-justified">
					<li ng-class="{active:panel.isSelected(1)}"><a ng-click="panel.selectTab(1)" href >Home</a></li>
					<li ng-class="{active:panel.isSelected(2)}"><a ng-click="panel.selectTab(2)" href>About</a></li>
					<li ng-class="{active:panel.isSelected(3)}"><a ng-click="panel.selectTab(3)" href>Projects</a></li>
					<li class="dropdown"><a href="#" data-toggle="dropdown">Downloads<span class="caret"></span></a>
						<ul ng-class="{active:panel.isSelected(4)}" class="dropdown-menu">
							<li ><a ng-click="panel.selectTab(4)" href>All downloads</a></li>
							<li class="divider"></li>
							<li><a href="Downloads/citizenshipZip.php">Citizenship</a></li>
							<li><a href="Downloads/findDifference.php">Find Difference</a></li>
							<li><a href="Downloads/equations.php">Equations</a></li>
						</ul>

					</li>
					<li class="dropdown"><a href="#" data-toggle="dropdown">Tools<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ng-click="tab = 7" href="index.html?page=calculator">Calculator</a></li>
							<li><a ng-click="tab = 8" href="index.html?page=quadratic">Quadratic Equation</a></li>
						</ul>
					</li>
					<li ng-class="{active:panel.isSelected(9)}"><a ng-click="panel.selectTab(9)" href >Teaching</a></li>
					<li ng-class="{active:panel.isSelected(10)}"><a ng-click="panel.selectTab(10)" href >Contact</a></li>
					
				</ul>
			</div>
		</nav>
	</div>
</head>
<body>
    <div class="container">
		<header class="row">
			<h1></h1>
		</header>
		
		<div class="panel" ng-show="panel.isSelected(1)">
			<home-page></home-pabe>
		</div>
		<div class="panel" ng-show="panel.isSelected(2)">
			<about-page></about-page>
		</div>
		<div class="panel" ng-show="panel.isSelected(3)">
			<projects-page></projects-page>
		</div>
		<div class="panel" ng-show="panel.isSelected(4)">
			<downloads-page></downloads-page>
		</div>
		<div class="panel" ng-show="panel.isSelected(5)">
			<tools-page></tools-page>
		</div>
		<div class="panel" ng-show="panel.isSelected(9)">
			<teaching-page></teaching-page>
		</div>
		<div class="panel" ng-show="panel.isSelected(10)">
			<contact-page></contact-page>
		</div>
		
		<br></br>

	</div><!-- END CONTAINER -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
<footer class="row">
	Copyright 2015 <a href="http://www.abelalvarez.info/"><strong>Abel Alvarez</strong></a> | <a href="http://www.abelalvarez.info/" target="_parent">Production</a> by <a href="https://www.linkedin.com/pub/abel-alvarez/87/975/998" target="_parent">Abel Alvarez</a>
</footer>
</section>
</html>