<!DOCTYPE html>
<html ng-app="app">
<head>
    <script src="lib/angular/angular.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="js/app.js"></script>
    
	<section>
		<ul class="nav navbar-nav nav-tabs nav-justified">
			<li ><a ng-click="tab = 1" href>Description</a></li>
			<li ><a ng-click="tab = 2" href>Spec</a></li>
			<li ><a ng-click="tab = 3" href>Reviews</a></li>.
		</ul>
		{{tab}}
		<div class="panel" ng-show="tab=== 1">
			<h4>testing 1</h4>
		</div>
		<div class="panel" ng-show="tab=== 2">
			<h4>testing 2</h4>
		</div>
	</section>
</head>
<body>
  

</body>

</html>